[submodule "Sharpmake"]
	path = Sharpmake
	url = https://github.com/ubisoft/Sharpmake.git
[submodule "vcpkg-tool"]
	path = vcpkg-tool
	url = https://github.com/microsoft/vcpkg-tool.git
	branch = 2022-03-30
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
